# Default Medusajs Module
MEDUSA_ADMIN_ONBOARDING_TYPE=default
STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,http://localhost:8000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=postgres://postgres:postgres@localhost/medusa-backend


# Google OAUT Module
GOOGLE_CLIENT_ID=<YOUR_GOOGLE_CLIENT_ID>
GOOGLE_CLIENT_SECRET=<YOUR_GOOGLE_CLIENT_SECRET>
GOOGLE_CALLBACK_URL=<YOUR_GOOGLE_CALLBACK_URL>\\

# SMTP
FROM_EMAIL_ADDRESS=<YOUR_STORE_EMAIL_ADDRESS
SMTP_HOST=<YOUR_SMTP_HOST>
SMTP_PORT=<YOUR_SMTP_PORT>
SMTP_USER=<YOUR_SMTP_USERNAME>
SMTP_PASS=<YOUR_SMTP_PASSWORD>

# STRIPE
STRIPE_API_KEY=<YOUR_STRIPE_API_KEY>

# SMTP
FROM_EMAIL_ADDRESS=<YOUR_STORE_EMAIL_ADDRESS
SMTP_USER=<YOUR_SMTP_USERNAME>
SMTP_PASS=<YOUR_SMTP_PASSWORD>

# Redis
EVENTS_REDIS_URL=<YOUR_REDIS_URL>

# Resend
RESEND_FROM_EMAIL=<YOUR_RESEND_EMAIL>
RESEND_API_KEY=<YOUR_RESEND_API_KEY>
DB_NAME=